html, body {
	padding: 20px;
}

#alerts {
    width: auto;
    position: fixed;
    z-index: 10;
    top: 0.5em;
    left: 50%;
    transform: translateX(-50%);
    font-size: .9em;
}

#alerts .alert {
    padding: .8em 2.5em .8em 1em;
}
#alerts .alert .close {
    padding: 0.25rem .5rem;
}

.card {
    margin: 0 auto 1em auto;
}

.dc-table-header {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

#container0 {
    width: 100%;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.page-item .page-link {
    color: #6c757d;;
    border-color: #6c757d;
}

.page-item.disabled .page-link {
    color: #6c757d;
    border-color: #6c757d;
}