.dt-bootstrap .paging-info {
	display: inline-block;
}

.dt-bootstrap .paging-length {
	margin: 0px 16px;
	display: inline-block;
}

.dataTables_filter label {
    float: right;
}
.dataTables_paginate {
    justify-content: flex-end;
}

.dataTables_wrapper .paging-info {
	display: inline-block;
}

.dataTables_wrapper .paging-length {
	display: inline-block;
}

.dataTables_length select {
	margin: 0 .5em;
}

table.dataTable {
	border-collapse: collapse !important;
  }

 table.dataTable thead th {
	position: relative;
	background-image: none !important; /* Remove the DataTables bootstrap integration styling */
}

.dataTables_info {
	margin-right: 1rem;
}

div.dataTables_paginate a.paginate_button.first,
div.dataTables_paginate a.paginate_button.previous {
	position: relative;
	padding-left: 24px;
}

div.dataTables_paginate a.paginate_button.next,
div.dataTables_paginate a.paginate_button.last {
	position: relative;
	padding-right: 24px;
}

div.dataTables_paginate a.first:before,
div.dataTables_paginate a.previous:before {
	position: absolute;
	top: 8px;
	left: 10px;
	display: block;
	font-family: FontAwesome;
}

div.dataTables_paginate a.next:after,
div.dataTables_paginate a.last:after {
	position: absolute;
	top: 8px;
	right: 10px;
	display: block;
	font-family: FontAwesome;
}

div.dataTables_paginate a.first:before {
	content: "\f100";
}

div.dataTables_paginate a.previous:before {
	content: "\f104";
}

div.dataTables_paginate a.next:after {
	content: "\f105";
}

div.dataTables_paginate a.last:after {
	content: "\f101";
}

div.dataTables_paginate li.first > a,
div.dataTables_paginate li.previous > a {
	position: relative;
	padding-left: 24px;
}

div.dataTables_paginate li.next > a,
div.dataTables_paginate li.last > a {
	position: relative;
	padding-right: 24px;
}

div.dataTables_paginate li.first a:before,
div.dataTables_paginate li.previous a:before {
	position: absolute;
	top: 6px;
	left: 10px;
	display: block;
	font-family: FontAwesome;
}

div.dataTables_paginate li.next a:after,
div.dataTables_paginate li.last a:after {
	position: absolute;
	top: 6px;
	right: 10px;
	display: block;
	font-family: FontAwesome;
}

div.dataTables_paginate li.first a:before {
	content: "\f100";
}

div.dataTables_paginate li.previous a:before {
	content: "\f104";
}

div.dataTables_paginate li.next a:after {
	content: "\f105";
}

div.dataTables_paginate li.last a:after {
	content: "\f101";
}

div.columns div.dataTables_paginate li.first a:before,
div.columns div.dataTables_paginate li.previous a:before,
div.columns div.dataTables_paginate li.next a:after,
div.columns div.dataTables_paginate li.last a:after {
	top: 0;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin-top: .75rem;
    white-space: nowrap;
    justify-content: flex-end;
    align-items: flex-end;
}